# Modeling

> In this notebook, we begin modeling on our data

### Importing and file loading

In [8]:
from sklearn.neural_network import MLPClassifier

import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('data/Crop_recommendation.csv')
data_std = pd.read_csv('data/Crop_recommendation_standardized.csv')

In [10]:
data_std

           N       P       K  temperature  humidity      ph  rainfall   label
0     1.0688 -0.3446 -0.1017      -0.9356    0.4727  0.0433    1.8104    rice
1     0.9333  0.1406 -0.1412      -0.7596    0.3971  0.7349    2.2421    rice
2     0.2560  0.0496 -0.0819      -0.5159    0.4870  1.7715    2.9211    rice
3     0.6353 -0.5568 -0.1609       0.1728    0.3898  0.6603    2.5370    rice
4     0.7437 -0.3446 -0.1214      -1.0836    0.4548  1.4979    2.8984    rice
...      ...     ...     ...          ...       ...     ...       ...     ...
2195  1.5294 -0.5871 -0.3189       0.2288   -0.2277  0.4014    1.3524  coffee
2196  1.3126 -1.1633 -0.4177       0.3557   -0.6669 -0.4944    0.4452  coffee
2197  1.8274 -0.6175 -0.3584      -0.2932   -0.1912 -0.1381    1.2714  coffee
2198  1.8003 -0.6478 -0.2794       0.1296   -0.8695  0.3739    0.4315  coffee
2199  1.4481 -1.0723 -0.3584      -0.3977   -0.4980  0.4011    0.6820  coffee

[2200 rows x 8 columns]